.father{
  width: 500px;
  height: 600px;
  background: slateblue;

}
.wrap{
  display: flex;

}
.home,  .about{
  width: 250px;
  height: 100px;
  background: #35255e;
  margin: 10px;

}
.kabobs{
  width: 470px;
  height: 200px;
  background: #572e62;
  margin: 12px;
}
.shishkabobs, .bbqkabobs, .summerkabobs{
  width: 250px;
  height: 230px;
  background: #35255e;
  margin: 10px;


}
