.father{
  width: 500px;
  height: 700px;
  background: #8dbde7;
  padding: 5px;
}
.widgets{
  width: 455px;
  height: 100px;
  background: #20205b;
  margin: 20px;
}

.wrap {

  display: flex;
  justify-content: center;
  background: rgba(35, 35, 248, 0.34);
}
.a, .b, .c{
  width: 100px;
  height: 100px;
  background: #b63a3a;
  margin: 10px ;


 }
.contact{
  width: 455px;
  height: 400px;
  background: #20205b;
  margin: 20px;

}
